@import url("html5doctor-reset.css");

/* layout stylesheet */

* {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 20px;
}

h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    margin: 0 0 10px;
}

ol, ul, dl {
    list-style-position: inside;
    margin-bottom: 10px;
    margin-top: 0;
	padding-left: 20px;
}

ol ol, ol ul, ul ol, ul ul, dl dd {
    margin-bottom: 0;
    padding-left: 40px;
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}

article {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#header-title {
	background-color: #03327c;
}

#header-title h1 {
	color: #ccc;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.bcit-color {
	/*color: #03327c;*/
	color: #fff;
}

/*** top nav style ***/
#top-nav {
	width: 100%;
	border-top: 2px solid #03327c;
	border-bottom: 2px solid #4d4d4d;
	background-color: #4d4d4d;
	position: relative;
	top: 0;
}

.top-nav-fixed {
	z-index: 100;
	position: fixed !important;
}

#top-nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#top-nav ul li {
	float: left;
}
#top-nav ul li a {
	color: #a9a9a9;
	display: block;
	padding: 6px 10px;
	text-align: left;
	text-decoration: none;
}

/*** sidemenu ***/
#sidebar-menu {
	background-color: #4d4d4d;
	border-right: 2px solid #4d4d4d;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	-webkit-animation: animateleft 0.4s;
	animation: animateleft 0.4s;
}

@-webkit-keyframes animateleft {
	0% {
		left: -300px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes animateleft {
	0% {
		left: -300px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

#sidebar-menu h5 {
	padding: 20px 10px;
	background-color: #5f5f5f;
	color: #e6e6e6;
}
#collapse-sidebar {
	text-decoration: none;
	float: right;
	color: #e6e6e6;
	padding-right: 10px;
}

#sidebar-menu ul {
	padding-left: 0;
	list-style-type: none;
}

#sidebar-menu ul li a {
	display: block;
	padding: 4px 2px 4px 30px;
	text-decoration: none;
	color: #a9a9a9;
}

/*** all nav menu applies ***/
nav ul li a:hover {
	background-color: #1a1a1a;
	color: #fff !important;
}
nav ul li.active {
	background-color: #1a1a1a;
}

nav ul li.active a {
	color: #fff !important;
}

/*** main column ***/
#main-column {
	margin-left: 200px;
	padding: 20px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

/*** main section ***/
#main-section {
	float:left;
	width: 80%;
	padding-right: 20px;
}

/*** some pages contains 2 columns in main section ***/
#left-side-main {
	float:left;
	width: 60%;
	padding-right: 20px;
	border-right: 1px solid #e7e7e7;
}
#right-side-main {
	float:left;
	padding-left: 20px;
	width: 40%;
}

/*** timestamp in new section ***/
.timestamp {
	font-size:10px;
	color: #989898;
}

/*** one-day calendar in important date ***/
.calendar {
	list-style-type: none;
	padding-left: 0;
}

.calendar li {
	clear:both;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 5px;
	height: 4.5em;
}

.one-day-calendar {
	width: 4em;
	text-align: center;
	float: left;
	margin-right: 1em;
}

.calendar-month {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-radius: 3px 3px 0 0;
	text-transform: uppercase;
	background-color: red;
	color: white;
}

.calendar-day {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 0 0 3px 3px;
	font-size: 1.9em;
	font-weight: bold;
}

.calendar-time {
	font-weight: bold;
}

/*** table of contents for page ***/
.contents {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    width: 60%;
}

.contents h4 {
	text-align: center;
}

/*** right section ***/
#right-section {
	width: 20%;
	float: left;
}

#right-section article > h4 {
	border-bottom: 1px solid orange;
}

/*** expand sidebar if it collapsed ***/
#expand-sidebar {
	display: none;
}

/*** title of main column ***/
#section-title {
	font-size:48px;
	border-bottom: 3px solid #03327c;
}

/*** horizontal bar at main title ***/
.section-title-line {
	border: 0;
	height: 4px;
	background-color: #03327c;
	width: 166px;
	margin-top: -10px;
}

/*** h2 child of article in main-section and
h2 child of section in left and right side of main section ***/
#main-section article > h2, #left-side-main section > h2, 
#right-side-main section > h2 {
    border-bottom: 3px solid #4caf50;
}

/*** list of recent lecture at home page ***/
#recent-lecture ul {
	list-style-type: none;
}
#recent-lecture ul li {
	height: 50px;
	border-bottom: 1px solid #e7e7e7;
}


/*** resources with flex container ***/
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-item {
	-webkit-flex: 1 0 30%;
	flex: 1 0 30%;
	margin: 10px;
	border-bottom: none;
}

.flex-item h2 {
	font-size: 16px;
	font-weight: bold;
}
.flex-item h4 {
	font-size: 14px;
	font-weight: bold;
}

.flex-item ul li {
	padding: 5px;
}

/*** bookmark in same page ***/
.bookmark {
  display: block;
  height: 32px; /*same height as header*/
  margin-top: -32px; /*same height as header*/
  visibility: hidden;
}

/*** Quiz style ***/
.quiz-form ul {
	list-style-type: none;
}
.answer-field {
	margin: 15px 15px 15px 30px;
}

.answer-field textarea {
	width: 90%;
	height: 100px;
}

.multiple-choice td{
	padding: 5px;
	vertical-align: middle;
}

.widget-col input[type="radio"]{
	margin-bottom: 3px;
}

.quiz-list {
	list-style-type: none;
	width: 60%;
}

.quiz-list li {
	border-bottom: 1px solid #e7e7e7;
	height: 50px;
}

.quiz-list li button{
	float: right;
}

.quiz-header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.quiz-header h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	color: #e6e6e6;
	background-color: #4d4d4d;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.quiz-header label {
	font-size: 14px;
	float: left;
	margin-right: 20px;
	color: #000;
	padding-top: 5px;
	padding-left: 20px;
	font-weight: bold;
}

#time-remaining {
	padding: 0;
}

.quiz-form {
	position: relative;
	top: 120px;
}

.action-button {
	text-align:center;
	width: 100%;
	padding-bottom: 20px;
}

/*** referred to bootstrap ***/
.btn {  
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0.5rem 1rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-primary {
	background-color: #0275d8;
    border-color: #0275d8;
    color: #fff;
}

.btn-primary:hover {
	background-color: #025aa5;
	border-color: #01549b;
	color: #fff;
}

/*** 404 error ***/
.error-section {
	text-align:center;
}
